
<app-not-found [visiable]="!cart || cart.length <= 0"
               notFoundMessage="Cart Is Empty!"
               resetLinkText="Go To Home Page">
</app-not-found>

<div class="container" *ngIf="cart && cart.length > 0">
  <ul>
    <li *ngFor="let item of cart">
      
      <div>
        <a routerLink="/product/{{item.productName}}">
          {{item.productName}}
        </a>
      </div>
      <div>
        <select [(ngModel)]="item.quantity" (change)="changeQuantity(item.productName, item.quantity)">
          <option *ngFor="let i of [1, 2, 3, 4, 5]" [value]="i">{{i}}</option>
        </select>
      </div>
      <div>
        {{item.priceEach | currency}}
      </div>
      <div>
        <button class="remove-button" (click)="removeFromCart(item)">Remove</button>
      </div>
    </li>
  </ul>

  <div class="checkout">
    <div>
      <div class="products-count">{{cart.length}}</div>
      <div class="total-price">{{getTotalPrice()| currency}}</div>
      <button class="buy-button" (click)="buyCart()">Buy</button>
    </div>
  </div>
</div>
