
<app-not-found [visiable]="!product"
               notFoundMessage="Product Not Found"
               resetLinkText="Go To Home Page">
</app-not-found>

<div *ngIf="product" class="container">
  <img [src]="product.imgUrl" [alt]="product.name"/>
  <div class="details">
    <div class="header">
      <span class="name">
        {{product.name}}
      </span>
      <span class="favorite {{product.favorite?'':'not'}}">
        ❤
      </span>
    </div>
    <div class="price">
      <span>
        {{product.price|currency}}
      </span>
    </div>
    <div  *ngIf="isAdmin()" class="stock">
      <span>
        {{product.stock}}
      </span>
    </div>
    <button *ngIf="!isAdmin() && product.stock > 0" (click)="addToCart()">
         Add To Cart
    </button>
    <div *ngIf="!isAdmin() && product.stock <= 0" class="out-of-stock">
      <span>
        This Product is currently out of Stock!
      </span>
    </div>
    <div *ngIf="isAdmin()">
      <a routerLink="/editProduct/{{product.name}}">Edit Product</a>
      <button (click)="deleteProduct()">Delete Product</button>
    </div>
  </div>
</div>
