
<app-not-found [visiable]="!products || products.length <= 0"
               resetLinkText="Reset Search">
</app-not-found>

<div *ngIf="products">

  <div class="sort-and-search-container">
    <app-search></app-search>
    <app-filter-products (sortOption)="sortProducts($event)"></app-filter-products>
  </div>
  <app-tags></app-tags>

  <ul>
    <li *ngFor="let product of products">
      <a routerLink="/product/{{product.id}}">
        <img src="{{product.imgUrl}}" alt="">
        <div class="content">
          <div class="name">
            {{product.name}}
          </div>
          <span class="favorite {{product.favorite?'':'not'}}">
            ❤
          </span>
          <div class="price">
            <span>
              {{product.price|currency}}
            </span>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
