div {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

  div label {
    margin-right: 0.5rem;
    font-size: 1rem;
    color: #e72929;
    font-weight: bold;
  }

  div select {
    margin-top: -0.2rem; /* Add negative margin-top */
    border: none;
    background-color: #f1f1f1;
    color: #414141;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10rem;
    outline: none;
  }

    div select:hover {
      box-shadow: 0 0 0 2px #e72929;
      cursor:pointer;
    }

    div select option {
      color: #414141;
      background-color: #f1f1f1;
      font-size: 1rem;
      font-weight: 500;
    }
